body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    position: relative;
    background-color: #cfcfcf;
    text-align: center;
    padding: 3rem 0 3rem;
}

.logo {
    width: 12rem;
    height: auto;
}

.smile {
    width: 6rem;
    height: auto;
}

.image-container {
    display: flex;
    justify-content: space-around;
    height: 80vh;
    padding: 10px;
}

.scroll-pane {
    flex: 1;
    margin: 0 5px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.scroll-pane .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.scroll-pane img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.link-moj {
    font-size: 1.4em;
    margin-bottom: 10px; /* Vzdialenosť medzi odkazom a obrázkom */
    text-align: center;
}










.menu-img {

}





